
<h1> <%= @player_1.name %> Attacks <%= @player_2.name %> </h1>
<h1> FIGHT!!! </h1>
<a href="/confirm_attack">OK</a>
<h2><%= @player_1.name %>  Hp   <%= @player_1.hp %></h2>
<h2><%= @player_2.name %>  Hp   <%= @player_2.hp %></h2>